.item-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.item-header:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.item-header-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.item-header-text {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
}

.item-header:hover .item-header-text {
  color: white;
}
